
/* -=========== Estilos Globales ======== */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

a {
    color: #ec971f  !important;
}

a:focus, a:hover {
    color: #ec971f  !important;
    text-decoration: underline;
}

.error{
  color:red;
}

.flecha{
	font-size:30px;
	color:#f0ad4e;
}

.mt{
  margin-top: 30px;
}
/*Boton*/

.btn-warning, .btn-warning:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning, .btn-warning:hover, .btn-primary, .btn-primary:hover ,
.btn-success, .btn-success:hover, .btn-danger, .btn-danger:hover, .btn-info, .btn-info:hover{
 color: #fff !important;
}

.btn-default {
    color: #333 !important;
}


/** TopBar **/

.navbar-topbar{
  background-color: #0064BB !important;
  color: #fff;
  margin: 0;
  padding: 5px 0 5px 0;
  border-radius: 0 !important;
  height: 25px !important;
  min-height: 0px;
 
}

.navbar-topbar ul li {
   font-size: 12px !important;
   margin-right: 30px !important;
}
.topbar-icon {
  color: #ec971f !important; 
}
.navbar-topbar ul li a{
  display: inline-block;
  padding: 0;
  color: #fff !important;
}
.navbar-topbar ul li a:hover{
  background-color: transparent !important;
  text-decoration: underline;
}
.navbar-topbar ul li a:focus{
  background-color: transparent !important;
}
.email-info{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0;
}
/*====MENU====*/ 

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
    background-color: rgba(69, 68, 68, 0.7) /*transparent*/ !important;
    border-color: #ccc;
}

.navbar-inverse .navbar-brand{
	color:#fff !important;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff !important;
  transition: all 0.6s;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:active, .navbar-inverse .navbar-nav>.open>a:focus {
	color:#d58512 !important;
	border-bottom:5px solid #ec971f;
	text-shadow:1px 1px 1px #000;
	background-color:rgba(69, 68, 68, 0.7);
}

/* dropdown */

.dropdown-menu, .dropdown-menu>li>a{
      color: #fff !important;
    background-color: rgba(69, 68, 68, 0.7) !important;

}

.dropdown-menu>li>a:hover {
   color:#d58512 !important;
  border-bottom:5px solid #ec971f;
  text-shadow:1px 1px 1px #000;
  background-color:rgba(69, 68, 68, 0.7);
}
.text-nav{
    padding: 10px;
    margin-top: 10px;
    color:#fff !important;
}

/*perfil */

.nav-tabs > li.active > a {
  color: #555 !important;
  font-size: 22px !important;
}


.badge{
  background-color: #ec971f;
}

/* ======= Carrousel ========== */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
  background-color: rgba(69, 68, 68, 0.5) !important;
  padding: 0;
}

.carousel-indicators {
  display: none;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* ======= Wrapper ========== */

.img-wrapper{
	width:100% !important;
	height:350px;
	position:absolute;
	margin: 0px !important;
	padding-left:10px !important;
	padding-right:10px !important;
}




.wrapper{
	padding: 10px;
	margin-top: 60px;
	margin-left:20px;
	margin-right: 20px;
    overflow: auto;
    border: none;
    display: inline-block;
    float: none;
    z-index:100;
    background-color:rgba(0, 100, 187,0.6);
    cursor:pointer;
    position:relative; 
}

.wrapper-text{
	color:#fff !important;
}
/* ======= Marketing Contenido ========== */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: #ec971f;
  text-shadow: 1px 1px 1px #575757;
}
.marketing .col-lg-4 p {
  margin-right: 10px !important;
  margin-left: 10px  !important;
}


.tex-marketing{
  font-size: 35px;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/** Datepicker **/

.datepicker-dropdown {
   color: #fff !important;
    background-color: rgba(69, 68, 68, 0.9) !important;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused,
.datepicker .datepicker-switch:hover, .datepicker .prev:hover, 
.datepicker .next:hover, .datepicker tfoot tr th:hover {
    background: #ec971f !important;
    cursor: pointer;
}


/** ubicacio */ 

.caixa-ubicacio{
  background-color: #0064BB !important;
  padding: 30px;
  color:#fff;
  text-align: center !important;
}

.icon-location{
  color: #ec971f !important;
  text-shadow: 1px 1px 2px #000;
}

/** Servei **/

.caixa-servei{
  background-color: #0064BB !important;
  font-size: 20px;
  text-align: center;
  color: #fff;
  height: 190px;
  padding-top: 10px !important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  font-size: 50px !important;
  color: #ec971f !important;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
   /* border-radius: 4px;*/
  }

  .carousel-caption h1 {
    margin-bottom: 20px;
    margin-left: 40px;
    line-height: 1.4;
    width: 90%;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

/** botons xarxes socials **/
.boto-xs{
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: all 0.8s;
}

.boto-xs:hover{
  font-size: 30px !important;
  transform: rotate(1turn);
    background-color: #0064BB;
}

.boto-xs a{
  color: #162d50;
  transition: all 0.1s;
}

.boto-xs a:hover{
  color: #162d50;
}

.btn-serveis {
  margin-left:42%;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 220px){
	
	 .img-wapper, .col-xs-12{
	padding:0px !important;
	padding-top: 40px !important;}
}



#contingut {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.thumbnail{

      min-height: 370px !important;
    }

@media (max-width: 1200px) {
  .thumbnail{
      min-height: 320px !important;

    }
}

@media (max-width: 992px) {
  .thumbnail{
      min-height: 220px !important;

    }
}

@media (max-width: 400px){
  
   .thumbnail{
      min-height: 100px !important;

    }
    .btn-serveis {
  margin-left:0;
}

}
