
/* -=========== Estilos Globales ======== */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

a {
    color: #f0ad4e !important;
}

a:focus, a:hover {
    color: #f0ad4e !important;
    text-decoration: underline;
}

.error{
  color:red;
}

.flecha{
	font-size:30px;
	color:#f0ad4e;
}

.mt{
  margin-top: 30px;
}
/*Boton*/

.btn-warning, .btn-warning:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-default {
    color: #333 !important;
}

/*====MENU====*/ 

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-inverse {
    background-color: rgba(69, 68, 68, 0.7) /*transparent*/ !important;
    border-color: #ccc;
}

.navbar-inverse .navbar-brand{
	color:#fff !important;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active {
	color:#d58512 !important;
	border-bottom:5px solid #ec971f;
	text-shadow:1px 1px 1px #000;
	background-color:rgba(69, 68, 68, 0.7);
}

.text-nav{
    padding: 10px;
    margin-top: 10px;
    color:#fff !important;
}

.badge{
  background-color: #ec971f;
}

/* ======= Carrousel ========== */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* ======= Wrapper ========== */

.img-wrapper{
	width:100% !important;
	height:350px;
	position:absolute;
	margin: 0px !important;
	padding-left:10px !important;
	padding-right:10px !important;
}




.wrapper{
	padding: 10px;
	margin-top: 60px;
	margin-left:20px;
	margin-right: 20px;
    overflow: auto;
    border: none;
    display: inline-block;
    float: none;
    z-index:100;
    background-color:rgba(256, 151, 31, 0.7);
    cursor:pointer;
    position:relative; 
}

.wrapper-text{
	color:#fff !important;
}
/* ======= Marketing Contenido ========== */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px !important;
  margin-left: 10px  !important;
}




/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
 
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 220px){
	
	 .img-wapper, .col-xs-12{
	padding:0px !important;
	padding-top: 40px !important;}
}



#contingut {
    width: 100%;
    position: relative;
    margin-top: 100px;
}



.thumbnail{

      min-height: 370px !important;
    }

@media (max-width: 1200px) {
  .thumbnail{
      min-height: 320px !important;

    }
}

@media (max-width: 992px) {
  .thumbnail{
      min-height: 220px !important;

    }
}

@media (max-width: 400px){
  
   .thumbnail{
      min-height: 100px !important;

    }
}
