{% extends "HotelBundle:Default:index.html.twig" %}

{% block title %}Contacte{% endblock %}

{% block page_content %} 
<div id="contingut">
	<div class="container">
		<div class="col-xs-12 col-lg-8 col-lg-push-2">
                <h2 class="text-center">Formulari de contacte</h2>
                <p class="text-center">Si us plau, ompliu aquest formulari i ens posarem en contacte amb vostè al més aviat possible.</p>
                 <div class="col-lg-12 mt">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                {{ form_widget(form)}}
                {{ form_end(form) }}
                 </div>
		</div>
	</div>
</div>
{% endblock %}	