{% extends "HotelBundle:Default:index.html.twig" %}

{% block title %}Serveis{% endblock %}

{% block page_content %} 
<div id="contingut">
	<div class="container">
        <h1 class="text-center">Els nostres Serveis</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-xs-12 col-md-2 col-md-push-2 caixa-servei">
                 <span class="flaticon-hotel icon-servei"></span>
                 <p>Recepció 24 hores</p>
             </div>
             <div class="col-xs-12 col-md-2 col-md-push-3 caixa-servei">
                 <span class="flaticon-transport"></span>
                 <p>Lloguer de cotxe</p>
             </div>
             <div class="col-xs-12 col-md-2 col-md-push-4 caixa-servei">
                 <span class="flaticon-holidays-1"></span>
                 <p>Consergeria </p>
             </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt">
                <div class="col-xs-12 col-md-2 col-md-push-2 caixa-servei">
                   <span class="flaticon-restaurant"></span>
                   <p>Restaurant</p>
                </div>

                <div class="col-xs-12 col-md-2 col-md-push-3 caixa-servei">
                   <span class="flaticon-sign"></span>
                   <p>S'admiteixen gossos i gats</p>
                </div>
                <div class="col-xs-12  col-md-2 col-md-push-4  caixa-servei">
                   <span class="flaticon-arrows"></span>
                   <p>Canvi de divises</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt">
                <div class="col-md-2 col-md-push-2 col-xs-12  caixa-servei">
                   <span class="flaticon-holidays"></span>
                   <p>Piscines</p>
               </div>
               <div class="col-xs-12 col-md-2 col-md-push-3 caixa-servei">
                   <span class="flaticon-location"></span>
                   <p>pàrquing gratuït</p>
               </div>
               <div class="col-xs-12 col-md-2 col-md-push-4 caixa-servei">
                   <span class="flaticon-washing"></span>
                   <p>Servei de bugaderia</p>
               </div>
           </div>
       </div>
        <div class="row">
            <div class="col-lg-12 mt">
            <div class="col-xs-12 col-md-2 col-md-push-2 caixa-servei">
               <span class="flaticon-weather"></span>
               <p>Aire condicionat</p>
            </div>
            <div class="col-xs-12 col-md-2 col-md-push-3 caixa-servei">
               <span class="flaticon-travel"></span>
               <p>Servei d'habitacions</p>
            </div>
            <div class="col-xs-12 col-md-2 col-md-push-4 caixa-servei">
               <span class="flaticon-computer"></span>
               <p>Wifi gratuït</p>
            </div>
        </div>
       </div>
        </div>    
	</div>
</div>
{% endblock %}	