{% extends "HotelBundle:Default:backend.html.twig" %}
{% block title %}Afegit{% endblock %}
{% block content %}
        <div class="col-lg-12">
            <div class="content-backend">
                <div class="col-lg-11">
                    <h2 class="text-center">{{ titol }}</h2>
                    <p>Afegit</p>
                </div>
            </div>
        </div>
{% endblock %}