body {
    overflow-x: hidden;
 }

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;  
}

.dropdown-menu{
    z-index: 1000;
}

a:hover{
    color: #FFAF00 !important;
}
/* ============ SideBar ===========*/

#contenedor {    
    margin-top: 80px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#contenedor.toggled {
    padding-left: 250px;
}


#sidebar-contenedor {
    z-index: 100;
    position: fixed;
    top: 60px;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #182633;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#contenedor.toggled #sidebar-contenedor {
    width: 250px;
}

#contingut {
    width: 100%;
    position: absolute;
    padding: 15px;
    z-index: 1;
}

#contenedor.toggled #contingut {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Estil */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FFAF00;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 180px;
    font-size: 18px;
    line-height: 60px;
    margin-left: 20px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #FFAF00;
    background: none;
}


/* DATA TABLE */

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: none !important;
    padding: 0 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: none !important;
    background-color: none !important;
    background: none !important;
}

.pagination>li>a, .pagination>li>span{
    color: #000 !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
        background-color: #FFAF00;
}

@media(min-width:768px) {
    #contenedor {
        padding-left: 0;
    }

    #contenedor.toggled {
        padding-left: 250px;
        display: block;
    }

    #sidebar-contenedor {
        width: 0;        
    }

    #contenedor.toggled #sidebar-contenedor {
        width: 250px;
    }

    #contingut {
        padding: 20px;
        position: relative;
    }

    #contenedor.toggled #contingut {
        position: relative;
        margin-right: 0;
        z-index: 4;
    }
}
