
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="{{habitacio.tipusHabitacio.imatge}}">
      <div class="caption">
        <div class="row">
					<div id="nomMiniHabitacio" class="col-xs-9">
						<h3>{{habitacio.tipusHabitacio.descripcio}}</h3>
					</div>
					<div id="preuMiniHabitacio" class="col-xs-3 ">
						 <h3>{{habitacio.preu}}</h3>
					</div>
		</div>
		<div class="row">
			<div id="nomMiniHabitacio" class="col-xs-9">
				<h4>habitacio.places</h4>
			</div>
			<div id="preuMiniHabitacio" class="col-xs-3 ">
				 <a href="{{habitacio.id}}" type="button" class="btn btn-primary">Reservar</a>
			</div>
	    </div>
      </div>
  	</div>
  </div>
